CREATE DATABASE [BimyouMeraki]
GO

USE [BimyouMeraki]
GO

/****** Object:  Table [dbo].[Clientes]    Script Date: 11-May-18 11:07:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Ci] [varchar](40) NOT NULL,
	[AP_C] [varchar](40) NOT NULL,
	[AM_C] [varchar](40) NOT NULL,
	[Calle_C] [varchar](40) NOT NULL,
	[Colonia_C] [varchar](40) NOT NULL,
	[Numero_C] [int] NOT NULL,
	[Telefono_C] [varchar](30) NOT NULL,
	[Fecha_Registro] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id_Compra] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[Fecha_compra] [varchar](20) NOT NULL,
	[Precio_total] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_Compra]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_Compra](
	[id_Compra] [int] NOT NULL,
	[id_producto] [varchar](20) NOT NULL,
	[Nombre_P] [varchar](40) NOT NULL,
	[Cantidad_p] [int] NOT NULL,
	[Precio_Pro] [float] NOT NULL,
	[precio_Tienda] [float] NOT NULL,
	[importe_total] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Compra] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Datos_venta]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Datos_venta](
	[id_venta] [int] NOT NULL,
	[id_producto] [varchar](20) NOT NULL,
	[Nombre_P] [varchar](40) NOT NULL,
	[Cantidad_producto] [int] NOT NULL,
	[precio_Tienda] [float] NULL,
	[precio_final] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC,
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dinero]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dinero](
	[dinero] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[Calle_E] [varchar](40) NOT NULL,
	[Colonia_E] [varchar](40) NOT NULL,
	[Numero_E] [int] NOT NULL,
	[Nombre_EM] [varchar](40) NOT NULL,
	[AP_E] [varchar](40) NOT NULL,
	[AM_E] [varchar](40) NOT NULL,
	[Edad] [int] NOT NULL,
	[Fecha_ingreso] [varchar](20) NOT NULL,
	[Telefono_E] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [varchar](20) NOT NULL,
	[Nombre_P] [varchar](40) NOT NULL,
	[Tipo_P] [varchar](40) NOT NULL,
	[StockMax] [int] NOT NULL,
	[StockMin] [int] NOT NULL,
	[id_proveedor] [int] NULL,
	[Cantidad_P] [int] NULL,
	[Precio_Pro] [float] NULL,
	[Precio_Tienda] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 11-May-18 11:07:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_pro] [varchar](40) NOT NULL,
	[Telefono_pro] [varchar](30) NOT NULL,
	[Direccion_pro] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sepomex]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sepomex](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEstado] [int] NULL,
	[estado] [varchar](70) NULL,
	[idMunicipio] [int] NULL,
	[municipio] [varchar](70) NULL,
	[ciudad] [varchar](70) NULL,
	[zona] [varchar](70) NULL,
	[cp] [int] NULL,
	[asentamiento] [varchar](70) NULL,
	[tipo] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_vent] [varchar](20) NOT NULL,
	[Total_venta] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Datos_Compra]  WITH CHECK ADD FOREIGN KEY([id_Compra])
REFERENCES [dbo].[Compra] ([id_Compra])
GO
ALTER TABLE [dbo].[Datos_Compra]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Datos_venta]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Datos_venta]  WITH CHECK ADD FOREIGN KEY([id_venta])
REFERENCES [dbo].[Venta] ([id_venta])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
/****** Object:  StoredProcedure [dbo].[actualizarCliente]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarCliente](
									@id_cliente int,
									@Nombre_Ci varchar(40),
									@AP_C varchar(40),
									@AM_C varchar(40),
									@Calle_C varchar(40),
									@Colonia_C varchar(40),
									@Numero_C int,
									@Telefono_C varchar(30),
									@Fecha_Registro varchar(20)									
									)
as
Update Clientes set 
					Nombre_Ci = @Nombre_Ci,
					AP_C = @AP_C,
					AM_C = @AM_C,
					Calle_C = @Calle_C,
					Colonia_C = @Colonia_C,
					Numero_C = @Numero_C,
					Telefono_C = @Telefono_C,
					Fecha_Registro = @Fecha_Registro 
where id_cliente = @id_cliente
GO
/****** Object:  StoredProcedure [dbo].[actualizarCompra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarCompra](
									@id_Compra int,
									@id_proveedor int,
									@Fecha_compra varchar(20),
									@Precio_total float
								)
as
Update Compra set 
					id_proveedor = @id_proveedor,
					Fecha_compra = @Fecha_compra,
					Precio_total = @Precio_total
where id_Compra = @id_Compra
GO
/****** Object:  StoredProcedure [dbo].[actualizarDatos_Compra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarDatos_Compra](
										@id_Compra int,
										@id_producto varchar(20),
										@Nombre_P varchar (40),
										@Cantidad_p int,
										@precio_Pro float,
										@precio_Tienda float,
										@importe_total float
									)
as
Update Datos_Compra set
						Cantidad_p = @Cantidad_p
where (id_Compra = @id_Compra) and (id_producto = @id_producto)
GO
/****** Object:  StoredProcedure [dbo].[actualizarDatos_venta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarDatos_venta](
										@id_venta int,
										@id_producto varchar(20),
										@Cantidad_producto int
										)
as
Update Datos_venta set
						Cantidad_producto = @Cantidad_producto
where ( id_venta= @id_venta) and (id_producto = @id_producto)
GO
/****** Object:  StoredProcedure [dbo].[actualizardinero]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[actualizardinero](
@dinero float
)
as
Update dinero set 
					dinero = @dinero
GO
/****** Object:  StoredProcedure [dbo].[actualizarEmpleado]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarEmpleado](
										@id_empleado int,
										@Calle_E varchar(40),
										@Colonia_E varchar(40),
										@Numero_E int,
										@Nombre_EM varchar(40),
										@AP_E varchar(40),
										@AM_E varchar(40),
										@Edad int,
										@Fecha_ingreso varchar(20),
										@Telefono_E varchar(30)
								)
as
Update Empleado set
					Calle_E = @Calle_E,
					Colonia_E = @Colonia_E,
					Numero_E = @Numero_E,
					Nombre_EM = @Nombre_EM,
					AP_E = @AP_E,
					AM_E = @AM_E,
					Edad = @Edad,
					Fecha_ingreso = @Fecha_ingreso,
					Telefono_E = @Telefono_E
where id_empleado = @id_empleado
GO
/****** Object:  StoredProcedure [dbo].[actualizarinventario]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[actualizarinventario](
									@id_producto int,
									@Cantidad_P int,
									@Precio_Pro float,
									@precio_Tienda float
								)
as
Update Producto set 
					Cantidad_P = @Cantidad_P,
					Precio_Pro = @Precio_Pro ,
					precio_Tienda = @precio_Tienda 
where id_producto = @id_producto

GO
/****** Object:  StoredProcedure [dbo].[actualizarinventarioventa]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[actualizarinventarioventa](
									@id_producto int,
									@Cantidad_P int,
									@precio_Tienda float
								)
as
Update Producto set 
					Cantidad_P = @Cantidad_P,
					precio_Tienda = @precio_Tienda 
where id_producto = @id_producto
GO
/****** Object:  StoredProcedure [dbo].[actualizarProducto]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarProducto](
									@id_producto varchar(20),
									@Nombre_P varchar(40),
									@Tipo_P varchar(40),
									@StockMax int,
									@StockMin int,
									@id_proveedor int
								)
as
Update Producto set 
					Nombre_P = @Nombre_P,
					Tipo_P = @Tipo_P ,
					StockMax = @StockMax,
					StockMin = @StockMin,
					id_proveedor = @id_proveedor
where id_producto = @id_producto
GO
/****** Object:  StoredProcedure [dbo].[actualizarProveedor]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[actualizarProveedor](
										@id_proveedor int,
										@Nombre_pro varchar(40),
										@Telefono_pro varchar(30),
										@Direccion_pro varchar(100)
									)
as
Update Proveedor set
					Nombre_pro = @Nombre_pro,
					Telefono_pro = @Telefono_pro,
					Direccion_pro = @Direccion_pro
where id_proveedor = @id_proveedor
GO
/****** Object:  StoredProcedure [dbo].[actualizarVenta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create procedure [dbo].[actualizarVenta](
									@id_venta int,
									@Fecha_vent varchar(20),
									@Total_venta float
								)
as
Update Venta set 
				Fecha_vent = @Fecha_vent,
				Total_venta = @Total_venta
where id_venta = @id_venta
GO
/****** Object:  StoredProcedure [dbo].[BackUpDB]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[BackUpDB](
							@Route varchar(1000)
						)
as
BACKUP DATABASE BimyouMeraki TO DISK = @Route
GO
/****** Object:  StoredProcedure [dbo].[BuscarCP]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BuscarCP](
                       @cp int
                         )
as
select asentamiento from sepomex where cp = @cp
GO
/****** Object:  StoredProcedure [dbo].[buscarNombre3]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[buscarNombre3](
                          @Nombre_EM varchar(20)
                              )
as
select @Nombre_EM = RTRIM(@Nombre_EM) + '%';
select Nombre_EM from Empleado where  Nombre_EM like @Nombre_EM
GO
/****** Object:  StoredProcedure [dbo].[buscarNombreEmpleado]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[buscarNombreEmpleado](
                               @Nombre_EM varchar(20)
                               )
as
select * from Empleado where Nombre_EM= @Nombre_EM
GO
/****** Object:  StoredProcedure [dbo].[BuscarUCP]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BuscarUCP](
                          @cp int,
						  @asentamiento varchar(70)
						  )
as
select estado from sepomex where cp= @cp and asentamiento like @asentamiento 
GO
/****** Object:  StoredProcedure [dbo].[busNombre]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[busNombre](
                           @Nombre_Ci varchar(40)
						  )
as

SELECT @Nombre_Ci = RTRIM(@Nombre_Ci) + '%'; 
select Nombre_Ci from Clientes where Nombre_Ci like @Nombre_Ci
GO
/****** Object:  StoredProcedure [dbo].[busquedaproducto]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[busquedaproducto](
									@Nombre_P varchar(40)
								)
as
select id_producto,Nombre_P, precio_Tienda,Cantidad_P from Producto where Nombre_P like '%' + @Nombre_P + '%'

GO
/****** Object:  StoredProcedure [dbo].[busquedaproductocompra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[busquedaproductocompra](
									@Nombre_P varchar(40),
									@proveedor int
								)
as
select id_producto,Nombre_P, precio_Tienda,Cantidad_P from Producto where Nombre_P like '%' + @Nombre_P + '%' and id_proveedor= @proveedor

GO
/****** Object:  StoredProcedure [dbo].[BuyByDate]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[BuyByDate](
								@StartDate varchar(20),
								@FinalDate varchar(20)
							)
as
SELECT c.id_Compra, p.Nombre_pro, c.Fecha_compra, c.Precio_total FROM Proveedor P INNER JOIN Compra C ON P.id_proveedor = C.id_proveedor WHERE C.Fecha_compra LIKE @StartDate and C.Fecha_compra LIKE @FinalDate
GO
/****** Object:  StoredProcedure [dbo].[ByDay]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ByDay](
						@fecha varchar(20)
					)
as
select distinct P.id_producto,P.Nombre_P,v.Fecha_vent,(select sum(DV.Cantidad_producto) from Datos_venta DV inner join Venta V on DV.id_venta = V.id_venta where DV.id_producto = P.id_producto and V.Fecha_vent like @fecha) as [Venta Por dia] from Producto P inner join Venta V on  V.Fecha_vent like @fecha
GO
/****** Object:  StoredProcedure [dbo].[ByGroups]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ByGroups](
							@tipo varchar(40)
						)
as
select Nombre_P,Precio_Pro,Cantidad_P,Precio_Pro*Cantidad_P as Total from Producto where Tipo_P = @tipo
GO
/****** Object:  StoredProcedure [dbo].[ByMonth]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ByMonth](
							@fecha varchar(20)
						)
as
select distinct P.id_producto,P.Nombre_P,v.Fecha_vent,(select sum(DV.Cantidad_producto) from Datos_venta DV inner join Venta V on DV.id_venta = V.id_venta where DV.id_producto = P.id_producto and V.Fecha_vent like @fecha) as [Venta Por Mes] from Producto P inner join Venta V on  V.Fecha_vent like @fecha
GO
/****** Object:  StoredProcedure [dbo].[consCliente]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[consCliente](
										@Name_C varchar(40)
									)
as
select * from Clientes where Nombre_Ci = @Name_C
GO
/****** Object:  StoredProcedure [dbo].[consultAllProductByName]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec consultarProductoByName 'f'
--go

create procedure [dbo].[consultAllProductByName](
										@Name varchar(40)
									)
as
select * from Producto where Nombre_P = @Name
GO
/****** Object:  StoredProcedure [dbo].[consultar_Compra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[consultar_Compra](
									@id_Compra int
								)
as
select * from Compra,Datos_Compra,Proveedor where Compra.id_Compra = @id_Compra
GO
/****** Object:  StoredProcedure [dbo].[consultarCliente]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarCliente](
									@id_cliente int
									)
as
select * from Clientes where id_cliente = @id_cliente
GO
/****** Object:  StoredProcedure [dbo].[consultarCompra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[consultarCompra](
									@id_Compra int
								)
as
select * from Compra where id_Compra = @id_Compra
GO
/****** Object:  StoredProcedure [dbo].[consultarDatos_Compra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarDatos_Compra](
										@id_Compra int,
										@id_producto varchar(20),
										@Nombre_P varchar(40),
										@Cantidad_p int,
										@precio_Pro float,
										@precio_Tienda float,
										@importe_total float
									)
as
select * from Datos_Compra where (id_Compra = @id_Compra) and (id_producto = @id_producto)
GO
/****** Object:  StoredProcedure [dbo].[consultarDatos_venta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarDatos_venta](
										@id_venta int,
										@id_producto varchar(20)
									)
as
select * from Datos_venta where (id_venta = @id_venta) and (id_producto = @id_producto)
GO
/****** Object:  StoredProcedure [dbo].[consultarEmpleado]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarEmpleado](
									@id_empleado int
									)
as
select * from Empleado where id_empleado = @id_empleado
GO
/****** Object:  StoredProcedure [dbo].[ConsultarNombreCliente]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarNombreCliente](
                                  @Nombre_Ci varchar(20)
                                 )
as
select * from Clientes where Nombre_Ci= @Nombre_Ci
GO
/****** Object:  StoredProcedure [dbo].[ConsultarNombreCliente2]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarNombreCliente2](
                          @Nombre_Ci varchar(20)
                              )
as
select @Nombre_Ci = RTRIM(@Nombre_Ci) + '%';
select Nombre_Ci from Clientes where  Nombre_Ci like @Nombre_Ci
GO
/****** Object:  StoredProcedure [dbo].[ConsultarNombrePro]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarNombrePro](
                                    @Nombre_pro varchar(40)
                                   )
as
select * from Proveedor where Nombre_pro= @Nombre_pro
GO
/****** Object:  StoredProcedure [dbo].[ConsultarNombrePro2]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ConsultarNombrePro2](
                                    @Nombre_pro varchar(40)
                                    )
									as
select @Nombre_pro = RTRIM(@Nombre_pro) + '%';
select Nombre_pro from Proveedor where  Nombre_pro like @Nombre_pro
GO
/****** Object:  StoredProcedure [dbo].[consultarProducto]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarProducto](
									@id_producto Varchar(20)
								)
as
select * from Producto where id_producto =  @id_producto
GO
/****** Object:  StoredProcedure [dbo].[consultarProductoByName]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarProductoByName](
										@Name varchar(40)
									)
as
SELECT @Name = RTRIM(@Name) + '%'; 
select Nombre_P from Producto where Nombre_P like @Name
GO
/****** Object:  StoredProcedure [dbo].[consultarProveedor]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarProveedor](
									@id_proveedor int
								)
as
select * from Proveedor where id_proveedor = @id_proveedor
GO
/****** Object:  StoredProcedure [dbo].[consultarVenta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[consultarVenta](
									@id_venta int
								)
as
select * from Venta where id_venta = @id_venta
GO
/****** Object:  StoredProcedure [dbo].[consultProductByProv]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec consultTypesOfProduct 'l'
--go

create procedure [dbo].[consultProductByProv](
										@IdProv int
									)
as
select * from Producto where id_proveedor = @IdProv
GO
/****** Object:  StoredProcedure [dbo].[consultTypesOfProduct]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec consultAllProductByName 'Leche light'
--go

create procedure [dbo].[consultTypesOfProduct](
										@type varchar(40)
									)
as
SELECT @type = RTRIM(@type) + '%'; 
select distinct Tipo_P from Producto where Tipo_P like @type
GO
/****** Object:  StoredProcedure [dbo].[eliminarCliente]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarCliente](
									@id_cliente int
									)
as
delete from Clientes where id_cliente = @id_cliente
GO
/****** Object:  StoredProcedure [dbo].[eliminarCompra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarCompra](
								@id_Compra int
							)
as
delete from Datos_Compra where id_Compra = @id_Compra
delete from Compra where id_Compra = @id_Compra
GO
/****** Object:  StoredProcedure [dbo].[eliminarDatos_Compra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarDatos_Compra](
										@id_Compra int,
										@id_producto varchar(20)
									)
as
delete from Datos_Compra where (id_Compra = @id_Compra) and (id_producto = @id_producto)
GO
/****** Object:  StoredProcedure [dbo].[eliminarDatos_venta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarDatos_venta](
										@id_venta int,
										@id_producto varchar(20)
									)
as
delete from Datos_venta where (id_venta = @id_venta) and (id_producto = @id_producto)
GO
/****** Object:  StoredProcedure [dbo].[eliminarEmpleado]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarEmpleado](
									@id_empleado int
									)
as
delete from Empleado where id_empleado = @id_empleado
GO
/****** Object:  StoredProcedure [dbo].[eliminarProducto]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create procedure [dbo].[eliminarProducto](
									@id_producto varchar(20)
								)
as
delete from Datos_venta where id_producto = @id_producto
delete from Datos_Compra where id_producto = @id_producto
delete from Producto where id_producto =  @id_producto
GO
/****** Object:  StoredProcedure [dbo].[eliminarProveedor]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarProveedor](
									@id_proveedor int
								)
as
delete DC from Datos_Compra DC INNER JOIN Compra C on  C.id_proveedor = @id_proveedor where C.id_Compra = DC.id_Compra
delete from Compra where id_proveedor = @id_proveedor
delete from Proveedor where id_proveedor = @id_proveedor
GO
/****** Object:  StoredProcedure [dbo].[eliminarVenta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[eliminarVenta](
								@id_venta int
							)
as
delete from Datos_venta where id_venta = @id_venta
delete from Venta where id_venta = @id_venta
GO
/****** Object:  StoredProcedure [dbo].[insertarCliente]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarCliente](
									@Nombre_Ci varchar(40),
									@AP_C varchar(40),
									@AM_C varchar(40),
									@Calle_C varchar(40),
									@Colonia_C varchar(40),
									@Numero_C int,
									@Telefono_C varchar(30),
									@Fecha_Registro varchar(20)
								)
as
insert into Clientes values(
								@Nombre_Ci,
								@AP_C,
								@AM_C,
								@Calle_C,
								@Colonia_C,
								@Numero_C,
								@Telefono_C,
								@Fecha_Registro
							)
GO
/****** Object:  StoredProcedure [dbo].[insertarCompra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarCompra](
								@id_proveedor int,
								@Fecha_compra varchar(20),
								@Precio_total float
							)
as
insert into Compra values(
							@id_proveedor,
							@Fecha_compra,
							@Precio_total
						)
GO
/****** Object:  StoredProcedure [dbo].[insertarDatos_Compra]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarDatos_Compra](
										@id_Compra int,
										@id_producto varchar(20),
										@Nombre_P varchar(40),
										@Cantidad_p int,
										@precio_Pro float,
										@precio_Tienda float,
										@importe_total float
									)
as
insert into Datos_Compra values(
								@id_Compra,
								@id_producto,
								@Nombre_P,
								@Cantidad_p,
								@precio_Pro,
								@precio_Tienda,
								@importe_total
							)
GO
/****** Object:  StoredProcedure [dbo].[insertarDatos_venta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarDatos_venta](
										@id_venta int,
										@id_producto varchar(20),
										@Nombre_P varchar(40),
										@Cantidad_producto int,
										@precio_Tienda float,
										@precio_final float
									)
as
insert into Datos_venta values(
								@id_venta,
								@id_producto,
								@Nombre_P,
								@Cantidad_producto,
								@precio_Tienda,
								@precio_final 
							)
GO
/****** Object:  StoredProcedure [dbo].[insertardinero]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertardinero](
@dinero float
)
as
insert into dinero values(
@dinero
)
GO
/****** Object:  StoredProcedure [dbo].[insertarEmpleado]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarEmpleado](
									@Calle_E varchar(40),
									@Colonia_E varchar(40),
									@Numero_E int,
									@Nombre_EM varchar(40),
									@AP_E varchar(40),
									@AM_E varchar(40),
									@Edad int,
									@Fecha_ingreso varchar(20),
									@Telefono_E varchar(30)
								)
as
insert into Empleado values(
								@Calle_E,
								@Colonia_E,
								@Numero_E,
								@Nombre_EM,
								@AP_E,
								@AM_E,
								@Edad,
								@Fecha_ingreso,
								@Telefono_E
						)
GO
/****** Object:  StoredProcedure [dbo].[insertarProducto]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create procedure [dbo].[insertarProducto](
									@id_producto varchar(20),
									@Nombre_P varchar(40),
									@Tipo_P varchar(40),
									@StockMax int,
									@StockMin int,
									@id_proveedor int
								)
as
insert into Producto values(
								@id_producto,
								@Nombre_P,
								@Tipo_P,
								@StockMax,
								@StockMin,
								@id_proveedor,
								0,
								0,
								0
							)
GO
/****** Object:  StoredProcedure [dbo].[insertarProveedor]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertarProveedor](
									@Nombre_pro varchar(40),
									@Telefono_pro varchar(30),
									@Direccion_pro varchar(100)
								)
as
insert into Proveedor values (
								@Nombre_pro,
								@Telefono_pro,
								@Direccion_pro
							)
GO
/****** Object:  StoredProcedure [dbo].[insertarVenta]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertarVenta](
								@Fecha_vent varchar(20),
								@Total_venta float
							)
as
insert into Venta values(
							@Fecha_vent,
							@Total_venta
						)
GO
/****** Object:  StoredProcedure [dbo].[RestoreDB]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RestoreDB](
							@Rute varchar(1000)
						)
as
RESTORE DATABASE BimyouMeraki FROM DISK = @Rute
GO
/****** Object:  StoredProcedure [dbo].[SaleByDate]    Script Date: 11-May-18 11:07:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SaleByDate](
								@StartDate varchar(20),
								@FinalDate varchar(20)
							)
as
select * from Venta where Fecha_vent like @StartDate and Fecha_vent like @FinalDate
--SELECT v.id_venta, c.Nombre_Ci, e.Nombre_EM, v.Fecha_vent, v.Total_venta FROM Empleado e INNER JOIN Venta v ON e.id_empleado = v. INNER JOIN Clientes c ON c.id_cliente = v.id_cliente WHERE v.Fecha_vent like @fecha
GO




















